@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

:root {
  --primary-blue: #0192e6;
  --secondary-blue: #0787ea;
  --light-blue: #95d9ff;
  --text-dark: #222222;
  --text-light: #ffffff;
  --text-gray: #666666;
  --bg-gray: #f2f5f8;
  --gradient-color: #32aaec;
  --btn-bg: #2f2f2f;
  --btn-bg-2: #0c509d;

  --header-bg: #333;

  
  --green-bg: #8b993e;
  --pink-bg: #ffa4a4;
  --blue-bg: #8fd8ff;

  --max-width: 1200px;
  --footer-bg: #0e264a;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sora", sans-serif;
}

header {
  color: var(--text-dark);
  padding: 1rem 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-logo {
  color: var(--text-dark);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  flex-direction: column;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--text-dark);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

/* Rotate the first bar down */
.hamburger.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

/* Fade out the second bar */
.hamburger.is-active .bar:nth-child(2) {
  opacity: 0;
}

/* Rotate the third bar up */
.hamburger.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-links-container {
  width: 100%;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-in-out;
}

.nav-links-container.active {
  grid-template-rows: 1fr;
}

.nav-links {
  overflow: hidden;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 0;
}

.nav-links li:nth-child(5) a {
  background-color: var(--secondary-blue);
  border-radius: 15px;
  padding: 0.3rem 1.1rem;
  color: var(--text-light);
}

.nav-links-container.active .nav-links {
  padding-top: 1rem;
}

.nav-links a {
  color: var(--text-dark);
  text-decoration: none;
  font-size: 1rem;
  display: block;
}

.nav-links a:hover {
  color: var(--primary-blue);
}

.hero-section {
  height: 80vh;
  width: 100%;
  background-color: var(--primary-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  padding-left: 5rem;
  line-height: 3rem;
  color: var(--text-light);
}

.hero-text h1 {
  font-size: 2.7rem;
  line-height: 4rem;
}

.black-btn {
  background-color: var(--btn-bg);
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  color: var(--text-light);
  text-decoration: none;
}

.hero-image {
  max-width: 100%;
  height: auto;
}

.flex-header {
  margin-left: 7rem;
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 500;
}

.img-col {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.flex-container1 {
  display: flex;
  gap: 1em;
  width: min(1100px, 95%);
  margin: 50px auto;
}

.flex-card1 {
  flex: 1;
  background-color: var(--light-blue);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;
  border-radius: 1em;
  font-weight: 200;
  font-size: 1em;
  line-height: 2rem;
}

.flex-card2 {
  flex: 1;
  background-color: var(--primary-blue);
  color: var(--text-light);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;
  border-radius: 1em;
  font-weight: 200;
  font-size: 1em;
  line-height: 2rem;
}

.flex-card3 {
  flex: 1;
  background-color: var(--light-blue);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;
  border-radius: 1em;
  font-weight: 200;
  font-size: 1em;
  line-height: 2rem;
}

.flex-container2 {
  display: flex;
  gap: 6em;
  width: min(1100px, 95%);
  margin: 50px auto;
}

.flex-container2 img {
  width: 200px;
  height: 200px;
}

.categories {
  padding: 4rem 0;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.8fr;
  gap: 2em;
  width: 90%;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.grid-container h2 {
  padding-bottom: 2rem;
}

.spaced-text{
  line-height: 2rem;
}


.grid-container span {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
}

.grid-item1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  padding-left: 2rem;
}

.grid-item1 a:nth-child(1) {
  background-color: var(--btn-bg-2);
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  color: var(--text-light);
  text-decoration: none;
}

.grid-item1 a:nth-child(2) {
  background-color: transparent;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  color: var(--btn-bg-2);
  text-decoration: none;
  border: 1px solid var(--btn-bg-2);
}


.grid-item4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  align-self: center;
}

.bg-btn {
  background-color: var(--btn-bg-2);
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  color: var(--text-light);
  text-decoration: none;
}

.outline-button {
  background-color: transparent;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  color: var(--btn-bg-2);
  text-decoration: none;
  border: 1px solid var(--btn-bg-2);
}

.more-products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 5rem;
}

.div-text-h2{
  font-size: 2rem;
  padding-bottom: 2rem;
}

.div-text-span {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
}

.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-blue);
  width: 100%;
  height: auto;
  padding-left: 5rem;
  color: var(--text-light);
}

.div-text-span a:nth-child(2) {
  background-color: transparent;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  color: var(--btn-bg);
  text-decoration: none;
  border: 1px solid var(--btn-bg);
}

.request-supply-section {
  margin: 4rem 3rem;
}

.request-supply {
  background-color: var(--primary-blue);
  margin: 0 auto;
  height: 60vh;
  padding-left: 4rem;
  max-width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-light);
  position: relative;
}

.request-supply img {
  position: absolute;
  top: -150px;
  right: -20px;

}

.request-supply-text {
  line-height: 3rem;
}

.request-supply-text h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.request-supply-text span {
  padding: 1rem;
  background-color: var(--footer-bg);
  color: var(--text-light);
}

.request-supply-text input {
  border-radius: 10px;
  padding: 1rem;
}
.footer {
  background-color: var(--footer-bg);
  padding: 3rem 5rem;
  position: relative;
  color: var(--text-light);
}

/* .footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5%;
  width: 105%;       
  height: 80px;
  background-color: var(--footer-bg);
  border-radius: 0 0 50% 50% / 0 0 50% 50%;
  z-index: 2;
} */

.footer-main-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr; 
  gap: 40px;
}

.footer-bottom-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-divider {
  border: none;               
  height: 1px;                
  background-color: var(--text-light);               
  margin: 30px 0;             
  width: 100%;                
}

.footer-brand {
  line-height: 3rem;

}

.footer-brand h2 {
  font-size: 2rem;
}

.footer-links ul{
  list-style: none;
  line-height: 2.5rem;
}

.footer-links li:nth-child(1) {
  font-size: 1.5rem;
}

.footer-links a{
  text-decoration: none;
  color: var(--text-light);
}

.footer-contact ul{
  list-style: none;
  line-height: 2.5rem;

}

.footer-contact li:nth-child(1) {
  font-size: 1.5rem;
}

.social-icons {
  display: flex;
  font-size: 1.5rem;
  gap: 1.5rem;
}




